.about__us {
  display: flex;
  justify-content: space-between;
}
.about__us:before{
  content:"";
  width:490px;
height:505px;
background: url(/img/main/kviz_pliz__nizhnii_novgorod_1_qg_large\ 1.png) center center / cover no-repeat;
}
.about__content {
  background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
border-radius: 5px;

width: 785px;

padding: 70px 0 70px 81px;
  margin-left: -142px;
  margin-top: 100px;
  margin-bottom: 53px;

}

.about__text {
  width: 502px;
  font-size: 16px;
  margin-bottom: 61px;
}
.about__title {
  font-weight: bold;
font-size: 36px;
margin-bottom: 37px;
}