.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.controls__item {
margin-right: 18px;
margin-bottom: 10px;
}

.controls__elem {
cursor: pointer;
}
.controls__checkbox {
  display: none;
}
.controls__checkbox:checked ~ .tag {
  background: #B9EAE4;
}
