.offers {
  margin-bottom: 155px;
}
.offers__title {
  font-weight: bold;
font-size: 36px;
margin-bottom: 46px;
}

.offers__list {
  display: flex;
  margin-bottom: 57px;
  justify-content: space-between;
  
}