.offer {
  width: 100%;
  height: 100%;
  flex: 1;
  vertical-align: top;
  position: relative;
  padding-right: 25px;
}
.offer__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 85px 5px 32px ;
}
.offer__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offer__img:last-child {
  padding-right: 0;
}
.offer__data {
  font-size: 14px;

}

.offer__title {
  font-weight: bold;
font-size: 24px;
}

.offer-desc {
  font-size: 16px;
}