.review {
  background-color: #F4F5F5;
  color: #1A1B1E;
  padding: 50px 31px 32px 32px;
  display: flex;
  flex-direction: column;
  width: calc(100%/2 - 15px);
  margin-bottom: 17px;
  }
  .review_header {
    display: flex;
    margin-bottom: 27px;
    align-items: center;
    font-weight: bold;
  }
  .review_header-img {
    margin-right: 28px;
  }
  .review_header-name{
    font-size: 24px;
  line-height: 42px;
  }
  .review_header-name::after {
  content: url(/img/reviews/vk-blue\ 1.png);
  height: 30px;
  margin-left: 7px;
  
  }
  .review_header-decr{
  background: #B9EAE4;
  border-radius: 35px;
  text-align: center;
  padding: 10px 25px;
  }
  .review_bottom-title{
  font-size: 30px;
  margin-bottom: 13px;
  }
  .review_bottom-text{
  color: #818181;
  margin-bottom: 48px;
  }
  .review_bottom-data {
    font-size: 14px;
  }